body {
	margin: 0px;
	overflow: auto;
}

body[mercator="ready"] borderlayout:not([collapse="height"]):not([collapse="both"]) {
	height: 100%;
}

body[mercator="ready"] layer borderlayout:not([collapse="width"]):not([collapse="both"]) {
	width: auto;
}

body[mercator="ready"] borderlayout:not([collapse="width"]):not([collapse="both"]) {
	width: 100%;
}

body[mercator="ready"] padding {
	display: table;
	table-layout: fixed;
	height: 100%;
}

body[mercator="ready"] layer padding {
	width: initial;
}

body[mercator="ready"] borderlayout {
	display: table;
}

body[mercator="ready"] *:not(layer) borderlayout:not([auto="true"]) {
	table-layout: fixed;
}

body[mercator="ready"] row {
	display: table-row;	
	width: 100%;
}

body[mercator="ready"] row:not([collapse]) {
	height: 100%;
}

body[mercator="ready"] nested {
	display: table;
	table-layout: auto;
	height: 100%;
	width: 100%;
}

body[mercator="ready"] north, body[mercator="ready"] east, body[mercator="ready"] center, body[mercator="ready"] west, body[mercator="ready"] south, body[mercator="ready"] cell {
	display: table-cell;
}

body[mercator="ready"] *:not(north):not(south) east, body[mercator="ready"] *:not(north):not(south) center, body[mercator="ready"] *:not(north):not(south) west {
	height: 100%;
}

body[mercator="ready"] north {
	text-align: center;
}
body[mercator="ready"] east {
	text-align: right;
}
body[mercator="ready"] center {
	text-align: center;
}
body[mercator="ready"] *:not(west):not(east) center {
	width: 100%;
}
body[mercator="ready"] west {
	text-align: left;
}
body[mercator="ready"] south {
	text-align: center;
	vertical-align: bottom;
}

body[mercator="ready"] row > west, body[mercator="ready"] row > center, body[mercator="ready"] row > east {
	vertical-align: middle;
}

body[mercator="ready"] panel {
	display: block;
}
body[mercator="ready"] *:not(west):not(east) panel {
	width: 100%;
}
body[mercator="ready"] *:not(north):not(south) panel {
	height: 100%;
}

body[mercator="ready"] panel[scroll="y"] {
	overflow-y: scroll;
}
body[mercator="ready"] panel[scroll="x"] {
	overflow-x: scroll;
}

body[mercator="ready"] filler, body[mercator="ready"] text {
	display: block;
}

body[mercator="ready"] flow {
	display: block;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 100%;	
}

body[mercator="ready"] panel,body[mercator="ready"] north,body[mercator="ready"] west,body[mercator="ready"] center,body[mercator="ready"] east,body[mercator="ready"] south {
	position: relative;
}

body[mercator="ready"] layer {
	position: absolute;
	display: block;
}

/*
layer[north],layer[west],layer[east],layer[south],layer[width],layer[height] {
	display: block;
}

layer:not([north]):not([south]):not([west]):not([east]):not([width]):not([height]) {
	display: inline;
}
*/
/* Not supported in IE (all versions) and webkit on Android
layer, borderlayout, row, cell, nested, filler, north, west, center, east, south, padding {
	pointer-events: none;
}

north > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
west > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
center > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
east > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
south > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
padding > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
filler > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding) {
	pointer-events: auto;
}
*/
