body {
	margin: 0px;
	overflow: auto;
}

borderlayout:not([collapse="height"]):not([collapse="both"]) {
	height: 100%;
}

borderlayout:not([collapse="width"]):not([collapse="both"]) {
	width: 100%;
}

padding {
	width: 100%;
	height: 100%;	
}

borderlayout {
	display: inline-table;
}

row {
	display: table-row;	
	width: 100%;
}

row:not([collapse]) {
	height: 100%;
}

nested {
	display: inline-table;
	height: 100%;
	width: 100%;
}

north, east, center, west, south, cell {
	display: table-cell;
}

east, center, west {
	height: 100%;
}

north {
	text-align: center;
}
east {
	text-align: right;
}
center {
	text-align: center;
}
center:not([collapse]) {
	width: 100%;
}
west {
	text-align: left;
}
south {
	text-align: center;
	vertical-align: bottom;
}

nested > row > * {
	vertical-align: middle;
}

panel {
	display: block;
	width: 100%;
	height: 100%;
}

panel[scroll="y"] {
	overflow-y: scroll;
}
panel[scroll="x"] {
	overflow-x: scroll;
}

filler, text {
	display: block;
}

flow {
	display: block;
	text-align: left;
	vertical-align: top;
	width: 100%;
	height: 100%;	
}

panel,north,west,center,east,south {
	position: relative;
}

layer {
	position: absolute;
}

layer[north],layer[west],layer[east],layer[south],layer[width],layer[height] {
	display: block;
}

layer:not([north]):not([south]):not([west]):not([east]):not([width]):not([height]) {
	display: inline;
}

/* Not supported in IE (all versions) and webkit on Android
layer, borderlayout, row, cell, nested, filler, north, west, center, east, south, padding {
	pointer-events: none;
}

north > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
west > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
center > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
east > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
south > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
padding > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding),
filler > *:not(layer):not(borderlayout):not(row):not(cell):not(nested):not(filler):not(north):not(west):not(center):not(east):not(south):not(padding) {
	pointer-events: auto;
}
*/
